html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: "Helvetica", "Helvetica Neue", "Lucida Sans Unicode", "Arial", "sans-serif";
    font-size: 14px;
    color: #3a4454;
}

body, ul, h1, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


.logo {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI4MHB4IiBoZWlnaHQ9IjgwcHgiCgkgdmlld0JveD0iMCAwIDgwIDgwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA4MCA4MDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtkaXNwbGF5Om5vbmU7ZmlsbDojMTYxOTE5O30KCS5zdDF7ZmlsbDojNjVDMUMyO30KCS5zdDJ7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPGcgaWQ9IkViZW5lXzEiPgoJPHJlY3QgY2xhc3M9InN0MCIgd2lkdGg9Ijc5LjkiIGhlaWdodD0iNzkuOSIvPgoJPGcgaWQ9IkxvZ28iPgoJCTxwYXRoIGlkPSJ0cmlhbmdsZSIgY2xhc3M9InN0MSIgZD0iTTIyLjEsNjUuNWwtMTEsMTFsLTExLTExTDIyLjEsNjUuNXoiLz4KCQk8cGF0aCBpZD0iaGVyZSIgY2xhc3M9InN0MiIgZD0iTTM4LjIsNDAuNWMtMi4zLTIuNy0yLjItNC4yLTAuOC01LjZjMS43LTEuNywzLjUtMSw1LjUsMC45TDM4LjIsNDAuNXogTTYxLjgsMTAuNQoJCQljMS43LTEuNywzLjUtMSw1LjUsMC45bC00LjcsNC43QzYwLjIsMTMuNCw2MC4zLDEyLDYxLjgsMTAuNXogTTc2LDE1LjNjLTIuMSwzLjItNS45LDguNC05LjgsNC41bDkuOS05LjlDNzUuMiw5LDc0LjYsOC4yLDc0LDcuNwoJCQljLTUuMy01LjMtMTEuMy01LjQtMTYtMC43Yy0zLjEsMy4xLTQsNi43LTMuMSwxMC4xbC0zLjEtMy41QzUxLDE0LDQ3LjIsMTcuNCw1MCwyMi40bC0zLjUtMi45bC00LjcsNC43bDYuNCw2LjQKCQkJYy00LjktMy45LTEwLjItMy41LTE0LjQsMC43Yy00LjUsNC41LTQuMiwxMC0wLjgsMTQuNWwtMC43LTAuN2MtNC41LTQuNS05LjQtMi45LTExLjgtMC41Yy0xLjksMS45LTMsNC40LTIuNSw2LjJsLTkuNy05LjcKCQkJbC01LjIsNS4ybDE5LjIsMTkuMmgxMC4zbC02LjktNi45Yy0zLjYtMy43LTMuNy01LjYtMS45LTcuNGMxLjctMS43LDMuNy0wLjYsNy4yLDIuOGw2LjgsNi44bDUuMS01LjFsLTYuNS02LjUKCQkJYzQuNywzLjUsMTAuMywzLjcsMTUuMy0xLjNjMCwwLDAuMS0wLjEsMC4xLTAuMWwwLDBjMy4xLTIuOCw0LTUuNiw0LTUuNmwtMy45LTIuNmMtMi4xLDMuMi01LjgsOC40LTkuNyw0LjVsOS45LTkuOWw2LjIsNi4yCgkJCWw1LjQtNS40bC03LjctNy43Yy0zLjYtMy42LTEuNS03LDAtOC4zYzAuNywxLjUsMS43LDIuOSwzLDQuMmM1LDUsMTEuNCw2LDE3LjEsMC40YzAsMCwwLjEtMC4xLDAuMS0wLjFsMCwwYzMuMS0yLjgsNC01LjYsNC01LjYKCQkJTDc2LDE1LjN6Ii8+Cgk8L2c+CjwvZz4KPGcgaWQ9IkViZW5lXzIiPgo8L2c+Cjwvc3ZnPg==');
    float: left;
    display: block;
    height: 60px;
    margin: 0;
    position: relative;
    width: 60px;
    z-index: 1;
    background-size: contain;
}


/* Wrapper */

/* Header */
.panel {
    background: #273142 url('../img/map_hero.jpg');
    background-size: cover;
    height: 400px;
    color: white;
    font-family: "Helvetica", "Helvetica Neue", "Lucida Sans Unicode", "Arial", "sans-serif";
}

.teaser{
    font-weight: lighter;
    margin: 10px;
    min-height: 187px;
    position: relative;
}

.teaser .bottom {
    color: #96a0ac;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.teaser.light {
     background: #ebf1f3;
     text-align: center;
}
.teaser.light > h1 {
    color: #060f27;
    font-size: 36px;
    font-weight: lighter;
}
.teaser.light > p {
    color: #060f27;
}


.teaser.dark {
    background: #394355;
    font-size: 14px;
}
.teaser.dark > h5 {
    color: #96a0ac;
    margin: 14px;
    font-weight: lighter;
    top: -7px;
    position: relative;

}

a {
    color: #36cfff;
    font-weight: lighter;
    text-decoration: none;

}
a:hover {
    color: #00b4e5 !important;
}

.link{
    color : #00afaa;
}

.teaser.dark > h2 {
    color: #36cfff;
    font-weight: lighter;
    top: -11px;
    position: relative;
    margin: 14px;
}
.repo-descr {
    color: #ffffff;
}

.teaser.dark > .repo-descr,
.travis-badge {
    margin: 5px;
    top: -22px;
    position: relative;
}



.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.clear {
    clear: both;
    height : 0px;
}




.dp-button.dp-button-primary, a.button.dp-button-primary {
    background: ##00afaa !important;
    color: white !important;
}

.dp-button.dp-button-primary:hover,a.button.dp-button-primary:hover {
    background: #76e3dc !important;
}

.dp-button, a.button {
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease-out;

    padding: 10px 16px;
}

.dp-button.dp-button-transparent, a.button.dp-button-transparent {
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
}

nav {
    height: 58px;
    /* TODO: Layout of the menu breaks for small viewports */
    overflow: hidden;
    opacity: .9;
}

.title, .intro {
    text-shadow: -1px -1px 8px rgba(0, 0, 0, .05), 1px 1px 8px rgba(0, 0, 0, .05);
}

.title {
    font-size: 80px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 7px;
}

.intro {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 30px;
}

#repo-section {
    padding: 20px 5% 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#repo-section p {
  flex-basis: 300px;
  flex-grow: 1;
  padding: 10px;
}

.header-descr {
    padding: 20px 5% 32px;
    margin-left:20px;
}

/* Content */

.content-wrapper {
    max-width: 1024px;
    margin: auto;
    min-height: calc(100% - 400px);
    margin-bottom: -60px;
}

.content-wrapper:after {
    content: "";
    display: block;
}

footer, .content-wrapper:after {
    /* .push must be the same height as footer */
    height: 60px;
}





/* Footer */
footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #edf3f5;
}

footer a,
footer span {
    font-size: 12px;
    color: #4D5766;
}

@media screen and (min-width: 1024px){
    .teaser {
        width: calc(33% - 20px) !important;
    }

}

@media screen and (max-width: 1024px) and (min-width: 600px){
    .title {
        font-size: 48px;
    }

    .intro {
        width: 66%;
    }
    .teaser {
        width: calc(50% - 20px) !important;
    }
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 36px;
    }
    .teaser {
        width: calc(100% - 20px) !important;
    }
}
